<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1><a href="/">My Gallery</a></h1>
        <h1><a href="/addNew">Add</a></h1>
    </div>
    <h1>ADD NEW</h1>
    <form action="/new" method="post">
        <label for="">Link</label>
        <input type="text" name="Link" id="" placeholder="Product Link">
        <label for="">price</label>
        <input type="number" name="Price" id="" placeholder="price">
        <label for="">Company</label>
        <input type="text" name="Company" placeholder="company´s name">
        <label for="">url</label>
        <input type="text" name="url" placeholder="link">
        <label for="">Product name</label>
        <input type="text" name="name" placeholder="company´s name">
        <input type="submit" value="Add">
    </form>
</body>

</html>